@tailwind preflight;

.btn {
  @apply .no-underline .py-1 px-2 .text-center .uppercase .tracking-wide font-bold font-cursive;
}

.btn-block {
  @apply .w-64 .block .mx-auto;
}

.btn-primary {
  @apply .text-site-primary .border-2 .border-site-primary;
}

.btn-white {
  @apply .text-white .border-2 .border-white;
}

@import "front/animations";
@import "front/vue-transitions";
@import "front/navbar";

@tailwind utilities;

.absolute-center {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}

.overlap-b {
  transform: translate3d(-50%, 50%, 0);
  left: 50%;
}



svg {
  fill: currentColor;
}

.popup {
  animation-name: popUp;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: both;
}

.growout {
  animation-name: growOut;
  animation-duration: .4s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  transform-origin: left;
  animation-delay: 1.2s;
}

.del-1 {
  animation-delay: .3s;
}

.del-2 {
  animation-delay: .6s;
}
.del-3 {
  animation-delay: .9s;
}

@keyframes popUp {
  from {opacity: 0; transform: translate3d(20px, 20px, 20px)}
  to {opacity: 1; transform: translate3d(0, 0, 0) }
}

@keyframes growOut {
  from {transform: scale(0, 1);}
  to {transform: scale(1, 1);}
}

