@media (max-width: 576px) {
  .nav-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 3rem;
    bottom: 0;
    z-index: 50;
    transition: 0.4s ease-in-out;
    transform: translate3d(-100%, 0, 0);
  }

  .nav-select:checked + .nav-menu {
    transform: translate3d(0, 0, 0);
  }

  .nav-menu {
    .has-dropdown {
      position: relative;
      .dropdown {
        position: static;
        transform: none;
      }

      &:hover {
        .dropdown {
          z-index: 50;
          transform: none;
        }
      }
    }
  }
}
